<p>CanDyTalkをご利用いただきありがとうございます。</p>

<p>パスワード変更依頼を受け付けました。</p>
<p>以下のURLにアクセスし、パスワードを再設定してください。</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
