<%= stylesheet_link_tag 'common/header' %>
<header>
    <div class="row">
        <h1 class="logo">
            <div>🍬Can<span>DyTalk</span></div>
        </h1>
    </div>
    <div class="row">
        <nav class="menu-nav">
            <ul>
                <li><a href="<%= experts_reserves_path %>"><div class="icon"><i class="fas fa-calendar-alt fa-2x"></i></div><div>予約一覧</div></a></li>
                <li><a href="<%= experts_reservable_frame_register_path %>"><div class="icon"><i class="fas fa-calendar-plus fa-2x"></i></div><div>予約可能枠登録</div></a></li>
                <li><a href="<%= experts_profile_path %>"><div class="icon"><i class="fas fa-user fa-2x"></i></div><div>マイページ</div></a></li>
            </ul>
        </nav>
    </div>
</header>
